## i-MSCP version info

BuildDate =
Version = Git 1.5.x
CodeName = Ennio Morricone
PluginApi = 1.5.1

# Distro info

DISTRO_ID =
DISTRO_CODENAME =
DISTRO_RELEASE =

# Server variables

SERVER_DOMAIN =
SERVER_HOSTNAME =
BASE_SERVER_IP =
BASE_SERVER_PUBLIC_IP =
BASE_SERVER_VHOST =
BASE_SERVER_VHOST_PREFIX = http://
BASE_SERVER_VHOST_HTTP_PORT =
BASE_SERVER_VHOST_HTTPS_PORT =
PANEL_SSL_ENABLED =
SERVICES_SSL_ENABLED =
DEFAULT_ADMIN_ADDRESS =

## SQL backend

DATABASE_TYPE = mysql
DATABASE_HOST =
DATABASE_PORT =
DATABASE_NAME =
DATABASE_PASSWORD =
DATABASE_USER =
# Host from which SQL users are allowed to connect
# to the MySQL server
DATABASE_USER_HOST =
DATABASE_DIR = /var/lib/mysql

# System variables

# Do not forget to run the i-MSCP installer
# after changing these parameters
SYSTEM_USER_PREFIX = vu
SYSTEM_USER_MIN_UID = 2000

# IPv6 support
# Possible values: yes, no
IPV6_SUPPORT =

## Apps installer

GUI_APS_DIR = /var/www/imscp/gui/data/persistent/softwares
GUI_APS_DEPOT_DIR = /var/www/imscp/gui/data/persistent/softwares/sw_depot
SOFTWARE_TMP_DIR = /var/www/imscp/gui/data/tmp
# Max remote filesize in bytes (default 25MB)
APS_MAX_REMOTE_FILESIZE = 26214400

## Main variables

ADM_GROUP = adm
IMSCP_USER = imscp
IMSCP_GROUP = imscp
IMSCP_HOMEDIR = /var/local/imscp
CONF_DIR = /etc/imscp
LOG_DIR = /var/log/imscp
ROOT_DIR = /var/www/imscp
ROOT_USER = root
ROOT_GROUP = root
GUI_ROOT_DIR = /var/www/imscp/gui
GUI_PUBLIC_DIR = /var/www/imscp/gui/public
ENGINE_ROOT_DIR = /var/www/imscp/engine
ENGINE_BIN_DIR = /var/www/imscp/engine/bin
PACKAGES_DIR = /var/www/imscp/engine/PerlLib/iMSCP/Package
PLUGINS_DIR = /var/www/imscp/gui/plugins
USER_WEB_DIR = /var/www/virtual
DISTRO_OPENSSL_CNF = /etc/ssl/openssl.cnf
DISTRO_CA_BUNDLE = /etc/ssl/certs/ca-certificates.crt
DISTRO_CA_PATH = /etc/ssl/certs

# Alternative URLs for client websites
# possible value: 'yes' for enabling, 'no' for disabling
WEBSITE_ALT_URLS =

# Timezone used by PHP/Perl
TIMEZONE =

## Logrotate

LOGROTATE_CONF_DIR = /etc/logrotate.d

## Anti Rootkits packages

# Possible values: 'none' for no packages, or a list of packages, each comma
# separated.
# Available packages: Chkrootkit, Rkhunter
RKHUNTER_LOG = /var/log/rkhunter.log
CHKROOTKIT_LOG = /var/log/chkrootkit.log
# Here you can set an additional anti-rootkit tool log file
OTHER_ROOTKIT_LOG =

## Traffic

MAIL_TRAFF_LOG = /var/log/mail.log

## Quota

QUOTA_ROOT_DIR = /var/www/imscp/engine/quota

## GUI config

USER_INITIAL_THEME = default

# Possible values: infront, behind, none
MYSQL_PREFIX =

# String used for assets cache busting
# Must be updated each time an asset is updated
THEME_ASSETS_VERSION = 2017082400

# Date format string used inside the frontEnd
DATE_FORMAT = d.m.Y

# Allow to bypass the bruteforce and captcha blocking time
GUI_BYPASS_BRUTEFORCE = 0

# Debug Mode (e.g. for developers)
# Options: 0 = off, 1 = on
DEBUG = 0

# Depreciated variables (only keept for upgrade process)
CACHE_DATA_DIR = /var/cache/imscp

# SYSCTL(8)
CMD_SYSCTL = /sbin/sysctl
SYSCTL_CONF_DIR = /etc/sysctl.d

## Configuration variables for alternatives
# Please don't edit these variables manually.
FTPD_SERVER =
HTTPD_SERVER =
MTA_SERVER =
NAMED_SERVER =
PO_SERVER =
SQLD_SERVER =

FTPD_PACKAGE =
HTTPD_PACKAGE =
MTA_PACKAGE =
NAMED_PACKAGE =
PANEL_PHP_VERSION =
PANEL_HTTPD_SERVER =
PHP_SERVER =
PHP_PACKAGE =
PO_PACKAGE =
SQLD_PACKAGE =

## Configuration variables for i-MSCP packages (addons)
ANTIROOTKIT_PACKAGES =
FILEMANAGER_PACKAGES =
POSTFIXADDON_PACKAGES =
SQLMANAGER_PACKAGES =
WEBMAIL_PACKAGES =
WEBSTATS_PACKAGES =
