PO_VERSION                      = 
PO_USER                         =
PO_GROUP                        =
PO_CONF_DIR                     = /etc/courier
PO_RUN_DIR                      = /var/run/courier
PO_AUTHDAEMON_RUN_DIR           = /var/run/courier/authdaemon
PO_AUTHDAEMON_DATABASE_USER     =
PO_AUTHDAEMON_DATABASE_PASSWORD =
PO_IMAP_SSL                     = imapd-ssl
PO_POP_SSL                      = pop3d-ssl

# Cyrus SASL
SASL_CONF_DIR                   = /etc/postfix/sasl
PWCHECK_METHOD                  = authdaemon
LOG_LEVEL                       = 2
MECH_LIST                       = plain login

# Maildrop
QUOTA_WARN_MSG_PATH             = /etc/quotawarnmsg
