MTA_VERSION              = 
MTA_USER                 = postfix
MTA_GROUP                = postfix
MTA_CONF_DIR             = /etc/postfix
MTA_DB_DIR               = /etc/postfix/imscp
MTA_DB_DRIVER            =
MTA_DB_SLURP_LIMIT       = 10485760
MTA_MAIN_CONF_FILE       = /etc/postfix/main.cf
MTA_MASTER_CONF_FILE     = /etc/postfix/master.cf
MTA_QUEUE_DIR            = /var/spool/postfix
MTA_LOCAL_MAIL_DIR       = /var/mail
MTA_VIRTUAL_MAIL_DIR     = /var/mail/virtual
MTA_LOCAL_ALIAS_HASH     = /etc/aliases
MTA_MAILBOX_UID_NAME     = vmail
MTA_MAILBOX_GID_NAME     = mail
MAIL_LOG_CONVERT_PATH    = /usr/local/sbin/maillogconvert.pl
