# i-MSCP configuration file for the core Rspamd package

# List of enabled modules each separated by a comma or a semicolon.
# Managed modules are:
#
# ASN, DKIM Signing, DMARC, Emails, Greylisting, Milter Headers, Mime_Types,
# MX Check, RBL, Redis History, SPF, Surbl
#
# Not all RSPAMD(8) modules are managed yet. For unmanaged modules, you
# can always enable them manually.
# See the documentation at: https://rspamd.com/doc/modules/
#
# Please don't edit this parameter manually. Trigger a reconfiguration as
# follows instead:
#   perl /var/www/imscp/engine/setup/imscp-reconfigure -dar antispam
RSPAMD_MODULES =

# Rspamd Web Interface
# Possible values: yes, no
# Please don't edit this parameter manually. Trigger a reconfiguration as
# follow instead:
#  perl /var/www/imscp/engine/setup/imscp-reconfigure -dar antispam
RSPAMD_WEBUI =

# Rspamd password hash
RSPAMD_WEBUI_PASSWORD =

# Number of processes to spawn for the Rspamd Web UI (worker controller)
RSPAMD_WEBUI_PROCESS_COUNT = 2

# Rspamd local configuration directory path
RSPAMD_LOCAL_CONFDIR = /etc/rspamd/local.d
