# i-MSCP vsftpd configuration data

FTPD_PASSIVE_PORT_RANGE =

VSFTPD_VERSION =
DATABASE_USER =
DATABASE_PASSWORD =

#
## You can edit the parameters bellow (See vsftpd.conf(5))
#

FTPD_BANNER = Welcome to i-MSCP FTP server
PASSV_ENABLE = YES
FTP_MAX_CLIENTS = 100
MAX_PER_IP = 0
LOCAL_MAX_RATE = 0
