FTPD_VERSION = {VSFTPD_VERSION}
FTPD_BANNER = i-MSCP FTPd server
FTPD_BIN = /usr/sbin/vsftpd
FTPD_CONF_DIR = /etc
FTPD_MAX_CLIENTS =
FTPD_MAX_CLIENTS_PER_IP =
FTPD_PASSIVE_PORT_RANGE =
FTPD_PAM_CONF_DIR = /etc/pam.d
FTPD_PAM_SERVICE_NAME = vsftpd
FTPD_SQL_USER = {DATABASE_USER}
FTPD_SQL_PASSWORD = {DATABASE_PASSWORD}
FTPD_USER_CONF_DIR = /etc/vsftpd/imscp
