PO_VERSION               =
PO_BIN                   = /usr/sbin/dovecot
PO_CONF_DIR              = /etc/dovecot
PO_DELIVER_PATH          = /usr/lib/dovecot/deliver
PO_SASL_AUTH_SOCKET_PATH = /var/spool/postfix/private/auth
PO_SQL_USER              = {DATABASE_USER}
PO_SQL_PASSWORD          = {DATABASE_PASSWORD}
